.App {
  text-align: center;
}
.mainBg{
  background-color: #e8e8e9;
  padding: 5rem 5rem 2rem 5rem;
}

Button{
  background-color: rgb(24, 198, 131) !important;
  border-radius: 100px !important;
  background-origin: padding-box !important;
  background-clip: border-box !important;
  font-size: large;
  font-weight: 600 !important;
  border: none  !important;
  outline: none !important;
  margin-left: 1rem !important;
  box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.2) ;
}

#more{
  margin-top: 5px !important;
  margin-bottom: -10px !important;
  
}
Button:hover{
  transition-delay: 3s;
transform: translateY(-3px);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
th{
  font-weight: 300;
  color: #444444;
}
Table{
  background-color: white !important;
  border-radius: 5px !important;
  text-align: right;
  font-weight:400;
  padding-right: 1rem !important;
  margin-top: -11.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
  display: flex;
  background: linear-gradient(90deg, rgba(63,82,182,1) 30%, rgba(99,179,245,1) 100%);
  color: white;
  padding: 2rem 5rem 1rem 6rem;
}

.head{
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}
.background .body{
  text-align: center;
  margin-top: -17px;
  font-size: x-large;
  color: #ffffff;
}
.body{
  text-align: left;
font-size: small;
color: #cbcbda;
}
.body i{
  font-size:x-large;
}
.follow{
  margin-left: 1rem;
}
.item img{
  width: 9rem;
  margin-top: 1rem;
}
tr:hover{
  background-color: #efeff0 !important;
  cursor: pointer;
}
i{
  margin-left: 1rem;
  margin-right: 1rem;
}
.coinImg{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 1.5rem;
}
span{
  color: #78797a;
}
#name{
  margin-left: 1rem;
}
.name{
text-align: left;
display: flex;
}

.red{
  color: red;
}
.green{
  color: rgb(14, 184, 14);
}
.background{
  padding-top: 1.2rem;
  color: white;
 
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  height: 13rem;
  background: linear-gradient(90deg, rgba(63,82,182,1) 30%, rgba(99,179,245,1) 100%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px){
  Table{
    background-color: white !important;
    border-radius: 5px !important;
    text-align: right;
    font-weight:auto;
    margin-top: 1rem;
    width: 100% !important;
    overflow-x: hidden !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mainBg{
    background-color: #e8e8e9;
    padding: 0;
  }
  #name{
    margin-left: 0rem;
  }
  #last{
    display: none;
  }
  footer{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  .background{
    padding-top: 5.2rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background: linear-gradient(90deg, rgba(63,82,182,1) 30%, rgba(99,179,245,1) 100%);
  }
  .priority-5{
    display:none;
  }
  .priority-4{
    display:none;
  }
}

@media screen and (max-width: 600px){
  .background{
    margin-top: 1rem;
    height: 3rem;
  }

  Table{
    font-size: 14px;
  }
 .first{
  display: none;
 }
 footer{
  display: flex;
  flex-wrap: wrap;
 }
 .priority-5{
  display:none;
}
.priority-4{
  display:none;
}
.priority-3{
  display:none;
}

}

@media screen and (max-width: 400px){
  .coinImg{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 0.5rem;
  }
}